#logoArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

#title {
  margin: 0;
}

/* Needed to make the map fill the vertical space */
.mantine-AppShell-main {
  height: 100vh;
}
